h1 {
  color:white;
  text-align:center;
  font-family: 'Oswald', sans-serif; ;
}

h3 {
  color:white;
  text-align:center;
 font-family: 'Dancing Script', cursive;
}

body {
  color:white;
  text-align: center;
  background-color: #a57f81;
  font-family: ;
}